
:root {

  --color-primary: #00004d  !important;
  --primary-gradient: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  --banner-one-bg: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  --pricing-single-bg: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  --cta-two-bg: linear-gradient(92deg, #00004d 3.85%, #00004d 101.14%)  !important;
  --banner-four-gradient: linear-gradient(90deg, #00004d 26.56%, rgba(18, 24, 51, 0.00) 83.83%)  !important;
  --banner-most-used-bg: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  --testimonial-two-bg: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  --swiper-theme-color: #00004d   !important;
  --swiper-pagination-color: #00004d   !important;
}
.swiper-pagination-bullet-active{
    background-color: #00004d   !important;
    /* background:var(--swiper-pagination-color,var(--swiper-theme-color)) */
}

.rts-header.header__with__bg .rts-menu {
  background: #00004d  !important;
}

.rts-hero-two__bg {
  background: linear-gradient(259deg, #00004d 7.09%, #00004d 71.14%)  !important;
}

.rts-hero-three {
  background: linear-gradient(259deg, #00004d 7.09%, #00004d 71.14%)  !important;
  padding: 275px 0 250px  !important;
  position: relative  !important;
  overflow: hidden  !important;
  z-index: 1  !important;
}
.rts-hero-five {
  background: linear-gradient(258deg, #00004d 0.95%, #00004d 100%)  !important;
  padding: 140px 0 190px  !important;
  position: relative  !important;
  z-index: 1  !important;
}
/* .rts-domain-checker-two .rts-hero__content {
  background: #00004d  !important;
  border-radius: 20px  !important;
  text-align: center  !important;
  position: relative  !important;
  padding: 100px  !important;
  z-index: 1  !important;
} */

.rts-hero-banner.banner-six {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    z-index: 1 !important;
    padding: 140px 0 190px !important;
  }
.rts-domain-checker-two .rts-hero__content::after {
  position: absolute  !important;
  left: 0  !important;
  top: 0  !important;
  height: 100%  !important;
  width: 100%  !important;
  content: ""  !important;
  background: linear-gradient(93deg, #00004d 0.49%, #00004d 0.5%, #00004d 98.97%)  !important;
  z-index: -1  !important;
  border-radius: inherit  !important;
}
.cloud__pricing__bg .tab__button .tab__button__item button {
  padding: 12px 18px   !important;
  border-radius: 4px   !important;
  color: #00004d  !important;
}

.rts-pricing-five .section-inner .pricing-list .pricing-wrapper {
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%, #00004d 100%)  !important;
  padding: 30px  !important;
  padding-bottom: 40px  !important;
  border: 2px dotted white  !important;
  border-radius: 15px  !important;
  position: relative  !important;
  z-index: 1  !important;
  overflow: hidden  !important;
  transition: all 0.5s  !important;
}
.template-cloud .rts-pricing-plan .rts-pricing-plan__tab .tab__button .tab__button__item button {
  padding: 12px 18px  !important;
  border-radius: 6px  !important;
  line-height: 100%  !important;
  color: #00004d  !important;
}
.rts-service-two .service-two.style-two {
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%, #00004d 100%)  !important;
  position: relative  !important;
  z-index: 1  !important;
}
.rts-services-area.area-3 .section-inner .service-wrapper::after {
  position: absolute  !important;
  content: ""  !important;
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%, #00004d 100%)  !important;
  top: 0  !important;
  left: 0  !important;
  width: 100%  !important;
  height: 100%  !important;
  border-radius: 10px  !important;
  z-index: -2  !important;
  opacity: 0  !important;
  transition: var(--transition)  !important;
  border-bottom: 5px solid #013396  !important;
}
.rts-services-area.area-3.service-bg {
  background: #00004d  !important;
}
.rts-counter-up-area .counter-up-area-inner {
  display: flex  !important;
  align-items: center  !important;
  justify-content: space-between  !important;
  padding: 45px 80px 40px  !important;
  margin: 0  !important;
  border-radius: 10px  !important;
  background: linear-gradient(180deg, #00004d 0%, #0051F0 100%)  !important;
  position: relative  !important;
}
.rts-testimonial.area-3 .section-inner .rts-testimonial__single::after {
  position: absolute  !important;
  content: ""  !important;
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%, #00004d 100%)  !important;
  top: 0  !important;
  left: 0  !important;
  width: 100%  !important;
  height: 100%  !important;
  border-radius: 10px  !important;
  z-index: -2  !important;
  opacity: 0  !important;
  transition: all 0.3s  !important;
  border-bottom: 5px solid #013396  !important;
}
.rts-contact-form .single-contact-method::after {
  content: ""  !important;
  position: absolute  !important;
  width: 100%  !important;
  height: 100%  !important;
  top: 0  !important;
  left: 0  !important;
  border-radius: 10px  !important;
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  z-index: -1  !important;
  transition: var(--transition)  !important;
  opacity: 0  !important;
}
.rts-feature-area .section-inner .inner-separator .feature-wrapper .text-clip {
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  background-clip: text  !important;
  -webkit-background-clip: text  !important;
  -webkit-text-fill-color: transparent  !important;
  font-size: 64px  !important;
  font-weight: 800  !important;
}
.rts-feature-area .section-inner .inner-separator .feature-wrapper::after {
  position: absolute  !important;
  content: ""  !important;
  left: 50%  !important;
  transform: translateX(-50%)  !important;
  top: -53px  !important;
  width: 8px  !important;
  height: 8px  !important;
  background: var(--color-white)  !important;
  border-radius: 50%  !important;
  transition: 0.3s  !important;
  z-index: 2  !important;
  transition: all 0.4s  !important;
}
@media screen and (max-width: 992px) {
  .rts-feature-area .section-inner .inner-separator .feature-wrapper::after {
    display: none  !important;
  }
}
.rts-feature-area .section-inner .inner-separator .feature-wrapper::before {
  position: absolute  !important;
  content: ""  !important;
  left: 50%  !important;
  transform: translateX(-50%)  !important;
  top: -57px  !important;
  width: 16px  !important;
  height: 16px  !important;
  border-radius: 50%  !important;
  background: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  transition: 0.3s  !important;
  z-index: 2  !important;
  transition: all 0.4s  !important;
}
.rts-feature-six .single__feature--box.hover-enabled::after {
  height: 100%  !important;
  width: 100%  !important;
  position: absolute  !important;
  content: ""  !important;
  border-radius: inherit  !important;
  background: linear-gradient(180deg, #2B88FF 0%, #00004d 100%)  !important;
  top: 0  !important;
  left: 0  !important;
  z-index: -1  !important;
  opacity: 0  !important;
  transition: var(--transition)  !important;
}

.rts-hosting-flash-sale .section-inner {
  background: linear-gradient(180deg, #00004d 0%, #0051F0 100%)  !important;
  padding: 60px 55px  !important;
  border-radius: 10px  !important;
  position: relative  !important;
  z-index: 1  !important;
}
.card-feature:hover .card-feature__single--icon {
  background: #00004d  !important;
}
.dedicated-feature-area .dedicated-feature-image .featured-item {
  background: #00004d  !important;
  border-radius: 6px  !important;
  padding: 28px 30px 29px 35px  !important;
  width: 420px  !important;
  display: inline-flex  !important;
  gap: 25px  !important;
  position: absolute  !important;
  bottom: -6%  !important;
  right: -10%  !important;
}
.dedicated-feature-area .dedicated-feature-image .featured-item .icon {
  height: 50px  !important;
  min-width: 50px  !important;
  border-radius: 50%  !important;
  background: #00004d  !important;
  display: grid  !important;
  place-items: center  !important;
}
.commision-calculation {
  --calculation-bg: linear-gradient(180deg, #00004d 0%, #00004d 100%)  !important;
  background: var(--calculation-bg)  !important;
  padding: 40px 50px 55px 40px  !important;
  color: var(--color-white)  !important;
  border-radius: 6px  !important;
}