.box {
    /* height: 110px; */
    flex: 1 0 0;
    display: block;
    flex-basis: 50%;
    padding: 15px;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
@media (min-width: 708px) {
    .box {
        flex-basis: 20%;
    }
}
.box:hover{
    transform: scale(0.93);
}

.cdx {
    flex: 1 0 0;
    justify-content: left;
    align-items: center;
    border-radius: 10.431px;
}
.cdx-success {
    border: 1.5px solid #16DD65 !important;
}
.cdx-danger {
    border: 1.5px solid #F73434 !important;
}
.cdx-warning {
    border: 1.5px solid #F7AE34 !important;
}
.cdx-content {
    display: flex; 
    flex-direction: column; 
    /* border: 1.5px solid #16DD65 !important;
    border-width: 5px; */
    align-items: center; 
    justify-content: center
}

.row_ {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
  
  .row__ {
      display: flex;
      flex-wrap: wrap;
      /* width: 60%; */
      gap: 20px;
  }
  
  .di1 .di2 .di3 {
      display: flex;
  }
  
  @media (max-width: 708px) {
      .di3{
          display: none;
      }
  }
  @media (max-width: 450px) {
      .di2{
          display: none;
      }
  }
  @media (max-width: 400px) {
      .di1{
          display: none;
      }
  }